colorama==0.4.6
cycler==0.11.0
GDAL==3.3.3
geojson==3.1.0
geopandas==1.0.1
imageio==2.31.3
laspy==2.5.4
laszip==0.2.3
lazrs==0.6.3
loguru==0.7.0
natsort==8.4.0
numpy==1.26.4
oauthlib==3.2.2
Pillow==10.0.0
pygdal==3.3.3.10
pygit2==1.12.2
pylas==0.4.3
pynvml==11.5.0
pyogrio==0.11.0
pyparsing==3.2.5
pyproj==3.7.1
ransac==1.0.4
rasterio==1.4a2
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
srtm4==1.2.4
sympy==1.11.1
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tifffile==2023.8.30
timm==0.5.4
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.15.1+cu118
tqdm==4.65.2
traitlets==5.14.3
transaction==3.1.0
translationstring==1.4
triton==2.0.0
yacs==0.1.8

